.starContainer  {
  text-align: right;
}
.star  {
  padding-left: 7px;
  width: 24px;
  height: auto;
}

  
@media screen and (max-width: 450px) {
  .star-container {
    white-space: nowrap;
  }
  .star  {
    padding: 2px;
    width: 13px;
  }
}