.Banner {
    position: relative;
}
    
.BannerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 48px;
}

.Break {
    display: none;
}

@media screen and (max-width: 1080px) {
    .BannerText {
        text-align: left;
        font-size: 24px;
        left: 2%;
        transform: translate(-0%, -50%);
    }
   
    .Break {
        display: block;
    }
  }
  