.hostContainer {
    display: flex;
    align-items: center;
}

.hostImg {
    border-radius: 50%;
    overflow: hidden;
    width: 64px; 
    height: auto;
}
  
.hostName {
    width: 93px;
    font-weight: 500;
    font-size: 18px;
    text-align: right;
    margin-right:10px ;
   
}

@media screen and (max-width: 650px) {
    .hostImg {
        width: 36px; 
        
    }
    .hostName {
        font-size: 14px;       
    }
  }
  