.collapseLocationList {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px; 
    font-weight: 500;
    font-size: 18px;
  }
  
.collapseLocationList > * {
    flex-basis: 48%;
  }
  
.blockUnderSlide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.titleLocationTag {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleLocationTag h1 {
    font-weight: 500;
    font-size: 36px;
    margin: 0;
}

.titleLocationTag p {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}

.ratingHost {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}


.LiLocationsList {
    margin-left: 5px;
  }


  @media screen and (max-width: 650px) {
    .blockUnderSlide {
        display: flex;
        flex-direction: column;  
    }
    .ratingHost {
        display: flex;
        flex-direction: row;
        align-items: center; 
    }
    .collapseLocationList {
        display: flex;
        flex-direction: column;
      }
      .LiLocationsList {
        text-transform: none;
      }
    
  }


  