.collapseLocationList {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
  }
  
.collapseLocationList > * {
    flex-basis: 48%;
  }
  
.blockUnderSlide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.ratingHost {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.equipements {
    margin-top: 10px;
    list-style-type: none;
    font-weight: 400;
    font-size: 18px;
    padding-left: 5px;
  }
  

  