.collapse {
    border-radius: 5px;
    margin-bottom: 35px;
    background-color: #ff6060;
  }
  
  .collapseTitle {
    height: 50px;
    color: #ffffff;
    line-height: 20px;
    margin: 10px;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .collapseArrow {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
  }
  
  .collapseArrow:hover {
    cursor: pointer;
  }
  
  .rotateArrow {
    justify-content: flex-start;
    transform: rotate(-180deg);
  }
  
  .collapseContent {
    background-color: #f6f6f6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ff6060;
    height: calc(100% - 50px);
    min-height: 100px;
    padding: 25px 10px 10px 10px;
  }
  
