  .collapseBlock {
    border-radius: 5px;
    background-color: #ff6060;  
    margin: auto;
    padding: 0px 10px 0px 10px;
    
  }
  
  .collapseTitle {
    width: 100%;
    height: 47px;
    color: #ffffff;
    margin-bottom: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .collapseArrow {
    display: flex;
    justify-content: flex-end;
  }
  .collapseTitle img {
    width: 25px;
    height: auto;
  }
   
  .collapseArrow:hover {
    cursor: pointer;
  }
  
  .arrow:hover {
    cursor: pointer;
  }
  .rotateArrow {
    transform: rotate(-180deg);
  }

  
  
  .collapseContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f6f6f6;
    border-radius: 0px 0px 5px 5px;
    height: calc(100% - 50px);
    padding: 10px;
    min-height: 75px;
    margin: auto;
    margin-top: -31px;
    margin-bottom: 31px; 
  }
  
  @media screen and (max-width: 650px) {
    .collapseTitle {
      height: 30px;
    }
    .collapseTitle img {
      width: 16px;
    }
  }